# Preparation de l'environnement

## Via Jupyter notebook

Installer l'extension `ipython-sql`:

```bash
pip install ipython-sql
```

In [9]:
%load_ext sql
%sql sqlite:///ma_base.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Le chemin d'accès

Cette command évite d'avoir certaines erreurs dans les commandes SELECT.

In [10]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Avec Sqlite, pas besoin de définir une colonne id en autoincrement car elle sera moins optimisée que la colonne rowid par défaut.

In [11]:
%%sql
CREATE TABLE users (
    name VARCHAR(100),
    age INT
);

 * sqlite:///ma_base.db
(sqlite3.OperationalError) table users already exists
[SQL: CREATE TABLE users (
    name VARCHAR(100),
    age INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

On peut écrire des commandes SQL directement dans les cellules Jupyter en utilisant la magie `%%sql` pour du multi-lignes ou `%sql` pour du simple-ligne.

In [15]:
%sql INSERT INTO USERS(name, age) values ('SQL', 20)
%sql INSERT INTO USERS(name, age) values ('Python', 40)

 * sqlite:///ma_base.db
1 rows affected.
 * sqlite:///ma_base.db
1 rows affected.

[]

In [13]:
%sql SELECT rowid, * FROM USERS;

 * sqlite:///ma_base.db
Done.

[(1, 'SQL', 20), (2, 'SQL', 20), (3, 'Python', 40)]

In [14]:
%%sql
SELECT rowid, * FROM USERS
where age > 20;

 * sqlite:///ma_base.db
Done.

[(3, 'Python', 40)]