# Exercices série 1

In [19]:
import pandas as pd

titanic = pd.read_csv("titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- Nombre de survivants et de morts

In [ ]:
# Permet de rendre la colonne plus compréhensible (moins confus que des 1 et des 0)
titanic["Did survive"] = ["yes" if x == 0 else "no" for x in titanic["Survived"]]
survived = titanic.groupby("Did survive")["PassengerId"].count()
survived

Did survive
no     342
yes    549
Name: PassengerId, dtype: int64

- Calculer le pourcentage de survivants
  
Comme les valeurs sont 0 ou 1, la moyenne représente le pourcentage de morts. Donc si on fait 1 - la moyenne, on obtient le pourcentage de survivants.

In [27]:
avg = 100 * (1 - titanic["Survived"].mean())
avg

np.float64(61.61616161616161)

In [29]:
print(f"{avg:.2f}%")

61.62%

- Calculer le pourcentage de survivants par classe.

In [ ]:
df = 100 * (1 - titanic[["Pclass", "Survived"]].groupby("Pclass").mean())
df

         Survived
Pclass
1       37.037037
2       52.717391
3       75.763747

In [ ]:
df.style.format({"Survived": "{:.2f}%"})

In [ ]:
def get_percentage_format(val):
  if val < 50:
    return "color: red"
  else:
    return "color: green"
  
df.style.applymap(get_percentage_format)

C:\Users\a527524\AppData\Local\Temp\ipykernel_21232\3562722453.py:7: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df.style.applymap(get_percentage_format)

In [47]:
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
df.style.format({"Survived": "{:.2f}%"}).background_gradient(cmap=cm)