# Introduction à Pandas

- Interactive
- **PY**thon
- NoteBook

In [1]:
import pandas as pd # pd est l'alias de pandas

data = {
    "Année": [2024, 2025, 2026, 2027],
    "Diplôme": ["BAC", "B1", "B2", "B3"]
}

df = pd.DataFrame(data)
df

   Année Diplôme
0   2024     BAC
1   2025      B1
2   2026      B2
3   2027      B3