# Infos en 

## Arguments nommés

In [17]:
def add(x, y):
  return x + y

add(5, 6)

11

Le nommage des arguments rend l'appel plus clair

In [18]:
add(x=5, y=6)

11

On peut changer l'ordre des arguments

In [19]:
add(y=5, x=6)

11

Quand certains arguments sont optionnels (ceux qui ont une valeur par défaut), on peut les omettre

In [20]:
def multiply(a: int = 1, b: int=1) -> int:
    return a * b
  
multiply()

1

In [21]:
multiply(5)

5

In [22]:
multiply(5, 10)

50

Le nommage permet de laisser a avec sa valeur par défaut tout en spécifiant b

In [23]:
multiply(b=10)

10

## Lambda

Fonction anonyme

In [24]:
l1 = lambda x, y: x + y
l1(10, -9)

1

In [25]:
(lambda x, y: x + y)(3, 9)

12

In [ ]:
def set_on_click(f):
  f()
  
  
def say_hello():
  print("Hello")

set_on_click(lambda : print("Clicked"))
set_on_click(say_hello)

## Conversion de $2.39 en float

In [27]:
price = "$2.39 "
float(price.replace("$", ""))

2.39